html, body {
    width: 100vw;
    height: 100%;
    font-family: "NotoSansKR-Regular";
    box-sizing: border-box;
}
/****** COMMON-S ******/


.wrapper {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.wrapper .desc{
    font-size: 30px;
    line-height: 44px;
    text-align: center;
}
.sec2 .sec2-wrap1 .sec2-desc .txt1{
    width: 300px;
    font-size: 40px;
    line-height: 76px;
    margin-bottom: 38px;
}
.sec2 .sec2-wrap1 .sec2-desc .txt2{
    font-size: 20px;
    line-height: 35px;
}

/****** COMMON-E ******/

/****** SECTION-S *****/
.sec1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1080px;
}
.sec1 .logo{
    width: 517px;
    height: 164px;
    position: absolute;
    left: 702px;
    top: 13.333vw;
}
.sec1 .logo img{
    width: 100%;
    height: 164px;
}
.sec1 .image img{
    width: 516px;
    height: 516px;
    position: absolute;
    left: 702px;
    top: 302px;
    z-index: 3;
}
.sec1 .coming img{
   width: 500px;
   height: 115px; 
   position: absolute;
   left: 710px;
   top: 736px;
}
.sec1 .desc{
    width: 803px;
    position: absolute;
    left: 559px;
    top: 899px;
}
.sec2 {
    height: 1778px;
}
.sec2 .sec2-wrap1{
    display: flex;
}

.sec2 .sec2-wrap1 .sec2-desc{
    position: absolute;
    left: 416px;
    top: 242px;
}
.sec2 .sec2-wrap1 .phone img{
    width: 516px;
    height: 923px;
    position: absolute;
    left: 1090px;
    top: 106px;
}
.sec2 .txt1{
    font-size: 40px;
    line-height: 76px;
    margin-bottom: 38px;
}
.sec2 .txt2{
    font-size: 20px;
    line-height: 35px;
}
.sec2 .sec2-wrap2{
    display: flex;
}
.sec2 .sec2-wrap2 .sec2-desc{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 1225px;
    top: 1088px;
}
.sec2 .sec2-wrap2 .sec2-desc .txt1{
    width: 330px;
}
.sec2 .sec2-wrap2 .curious img{
    width: 710px;
    height: 710px;
    position: absolute;
    left: 242px;
    top: 843px;
}
.sec3{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 621px;
    justify-content: center;
    background-color: #f9fafb;
}
.sec3 .coming img{
    width: 500px;
    height: 115px;
    margin-bottom: 42.5px;
}

.sec3 .desc{
    left: 598px;
    top: 359px;
    width: 725px;
    height: 88px;
}
/****** SECTION-E *****/

/****** FOOTER-S *****/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 119px;
}
.footer .small-logo img{
    width: 292px;
    height: 26px;
}
/****** FOOTER-S *****/

@media all and (max-width: 1024px){
    html, body {
        width: 100vw;
        height: 100%;
        font-family: "NotoSansKR-Regular";
        box-sizing: border-box;
    }
    .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .wrapper .desc{
        font-size: 30px;
        line-height: 44px;
        text-align: center;
    }
    .sec2 .sec2-wrap1 .sec2-desc .txt1{
        width: 300px;
        font-size: 40px;
        line-height: 76px;
        margin-bottom: 38px;
    }
    .sec2 .sec2-wrap1 .sec2-desc .txt2{
        font-size: 20px;
        line-height: 35px;
    }
    
    /****** COMMON-E ******/
    
    /****** SECTION-S *****/
    .sec1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 1080px;
    }
    .sec1 .logo{
        width: 517px;
        height: 164px;
        position: absolute;
        left: 702px;
        top: 192px;
    }
    .sec1 .logo img{
        width: 100%;
        height: 164px;
    }
    .sec1 .image img{
        width: 516px;
        height: 516px;
        position: absolute;
        left: 702px;
        top: 302px;
        z-index: 3;
    }
    .sec1 .coming img{
       width: 500px;
       height: 115px; 
       position: absolute;
       left: 710px;
       top: 736px;
    }
    .sec1 .desc{
        width: 803px;
        position: absolute;
        left: 559px;
        top: 899px;
    }
    .sec2 {
        height: 1778px;
    }
    .sec2 .sec2-wrap1{
        display: flex;
    }
    
    .sec2 .sec2-wrap1 .sec2-desc{
        position: absolute;
        left: 416px;
        top: 242px;
    }
    .sec2 .sec2-wrap1 .phone img{
        width: 516px;
        height: 923px;
        position: absolute;
        left: 1090px;
        top: 106px;
    }
    .sec2 .txt1{
        font-size: 40px;
        line-height: 76px;
        margin-bottom: 38px;
    }
    .sec2 .txt2{
        font-size: 20px;
        line-height: 35px;
    }
    .sec2 .sec2-wrap2{
        display: flex;
    }
    .sec2 .sec2-wrap2 .sec2-desc{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 1225px;
        top: 1088px;
    }
    .sec2 .sec2-wrap2 .sec2-desc .txt1{
        width: 330px;
    }
    .sec2 .sec2-wrap2 .curious img{
        width: 710px;
        height: 710px;
        position: absolute;
        left: 242px;
        top: 843px;
    }
    .sec3{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 621px;
        justify-content: center;
        background-color: #f9fafb;
    }
    .sec3 .coming img{
        width: 500px;
        height: 115px;
        margin-bottom: 42.5px;
    }
    
    .sec3 .desc{
        left: 598px;
        top: 359px;
        width: 725px;
        height: 88px;
    }
    /****** SECTION-S *****/
    
    /****** FOOTER-S *****/
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 119px;
    }
    .footer .small-logo img{
        width: 292px;
        height: 26px;
    }
    /****** FOOTER-S *****/
}